body,html{
    background-color:  #d0d0d0;
}
.pageWrapper{
    margin-top: 2%;
    display: flex;
}
.buttonsWrapper{
    display:grid;
}
.actionButton{
    width: 100%;
    display: block;
    height: 7vh;
    margin-top: 10%;
    background-color: #c4c4c4;
    border-color:#c4c4c4;
    box-shadow: none;
    text-align:center;
    font-size: 17px;
    
}
.actionButton:hover{
    border-color:  #7b61ff;
}
.adminPanelContainer{
    margin-left: 1%;
    margin-top: 1.5%;
    border-style: solid;
    width: 800px;
    height: 600px;
    border-color: black;
    background-color:  #746a6a;
}
.gamesPanel{
    display: flex;

}
.individualGamePanel{
    background-color: #f98888;
    width: 300px;
    height:100px;
    margin-left: 2%;
    margin-top: 2%;

}
.dropzone{
    width: 300px;
    height: 100px;
    margin-left: 2%;
    margin-top: 2%;
    max-height: inherit;
}
.scoreboardContainer{
    display: flex;
    float: right;
    margin-top: 2%;

}
.scoreboardPanel{
    width:400px;
    height: 350px;
    background-color:#feffbb;
}