body,html{
    background-color:  #d0d0d0;
}
.pageWrapper{
    margin-top: 2%;
    display: flex;
}
.buttonsWrapper{
    display:grid;
}
.actionButton{
    width: 100%;
    display: block;
    height: 7vh;
    margin-top: 10%;
    background-color: #c4c4c4;
    border-color:#c4c4c4;
    box-shadow: none;
    text-align:center;
    font-size: 17px;
    
}
.actionButton:hover{
    border-color:  #7b61ff;
}
.adminPanelContainer{
    margin-left: 1%;
    margin-top: 1.5%;
    border-style: solid;
    width: 800;
    height: 600;
    border-color: black;
    background-color:  #746a6a;
}